body {
    background: #111111;
}

table {
    margin: auto;
}

td {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: monaco, consolas, 'Helvetica Neue', 'Ubuntu Condensed', '&#24494;&#36575;&#27491;&#40657;&#39636;', '微軟正黑體','Microsoft JhengHei', sans-serif;
}

#title {
    font-size: 25px;
    color: cyan;
}

.element {
    padding: 2px;
    width: 48px;
    height: 60px;
    border: 1px solid gray;
    color: lightgray;
}

.element .index {
    float: left;
    display: inline-block;
    width: 50%;
    font-size: 14px;
    text-align: left;
}

.element .superscript {
    float: left;
    display: inline-block;
    width: 50%;
    font-size: 14px;
    text-align: right;
}

.element > .name {
    margin: auto;
    width: 80%;
    font-size: 25px;
    text-align: center;
}

.element.metal {
    border-color: #FFFF44;
}

.element.metalloid {
    border-color: #EE4B37;
}

.element.non-metal {
    /* border-color: #0055FF; */
    border-color: #47D0FF;
}

.element.unknown-metal {
    border-color: #AAAAAA;
}

.element.gas {
    color: #62DB7A;
}

.element.liquid {
    color: #47D0FF;
}

.element.solid {
    color: #FCE033;
}

.element.radiative .name {
    text-shadow: 0 0 20px #FF7777, 0 0 20px #FF7777, 0 0 20px #FF7777;
}
